<div class="container mt-3">
  {{#if userFullData}}
  <div class="row">
    <h3>{{fstName}} {{lstName}}</h3>
    <ul class="list-group col">
      {{#each userFullData}}
      {{#each emails}}
      <li class="list-group-item">
        {{this}}
        <button class="btn btn-outline-secondary float-right btn-sm">Check email</button>
      </li>
      {{/each}}
      {{/each}}
    </ul>
  </div>
  {{else}}
  <div class="alert alert-dark text-center" role="alert">
    <h2 class="text-secondary fw-bold">You haven't added user</h2>
    <h5>However you can do this <a href="/user" class="text-decoration-none fw-bold text-white">here</a></h5>
  </div>
  {{/if}}
</div>
<!-- Yes, on a `check` button needed pined onClick handler on a function with js fetch handler.
    However I did not find API which does this and does this free.
    But I can implement this feature by use fetch request and out valid/invalid response-->