<div class="container mt-3">
  <div class="row">
    <ul class="list-group col">
      <li class="list-group-item">
        mail@soft.com
        <button class="btn btn-outline-secondary float-right btn-sm">Check email</button>
      </li>
    </ul>
  </div>
</div>